<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parth Kabra | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="{{ url_for('static', filename='css/boxicons.min.css') }}" rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />

</head>
<body >
    
    <div id="mySidebar" class="sidebar" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <span class="options">
            <a href="#about" class="nav__text" onclick="closeNav()">
                <span class="nav__link">About</span>
            </a>
            <a href="#projects" class="nav__text" onclick="closeNav()">
                <span class="nav__link">Projects</span>
            </a>
            <a href="#experience" class="nav__text" onclick="closeNav()">
                <span class="nav__link">Experiences</span>
            </a>
            <a href="#hire" class="nav__text" onclick="closeNav()">
                <span class="nav__link">Hire</span>
            </a>
            <a href="#contact" class="nav__text" onclick="closeNav()">
                <span class="nav__link">Contact</span>
            </a>
        </span>
    </div>


    <section class="home">

        <span data-aos="zoom-in" class="home" style="padding-top:0">
            <img src="{{ url_for('static', filename='img/image.png') }}"  class="home__img">
            
            <span class="info">
                <span>
                    <p class="home__title">Hi there!</p>
                    <p class="home__text">As someone who enjoys designing compelling products, I strive to continually improve and excel at my job.</p>
                </span>
            </span>
        </span>

    </section>


   
    <footer class="footer">
            
        <a onclick="scrolltop()"><i class='bx bx-chevron-up' ></i></a>
    
        <span class="social">
                <a target="_blank" href="mailto:parthkabra002@gmail.com">
                    <i class='bx bx-envelope' ></i>
                </a>

                <a target="_blank" href="https://twitter.com/_parthkabra">
                    <i class='bx bxl-twitter' ></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/_parthkabra/">
                    <i class="bx bxl-instagram"></i>
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/parth-kabra-3164a5205/">
                    <i class='bx bxl-linkedin' ></i>
                </a>

                <a target="_blank" href="https://github.com/parth-kabra">
                    <i class='bx bxl-github' ></i>
                </a>

                <a target = "_blank" href = "https://www.upwork.com/freelancers/~01805dc65c28fae55b">
                    <i class='bx bxl-upwork'></i>
                </a>
        </span>
        
        <p class="dash"></p>

        <p class="credit text">With love from Parth Kabra</p>
    
    </footer>

    <span class="side__icons">

        <a target="_blank" href="https://www.linkedin.com/in/parth-kabra-3164a5205/">
            <i class='bx bxl-linkedin' ></i>
        </a>

    </span>

    <header class="header">
        
        <a href=""><h1 class="text" style="cursor: pointer">Parth</h1></a>

        <span class="nav">
            
            <a href="#about" class="nav__link">About</a>
            <a href="#projects" class="nav__link">Projects</a>
            <a href="#experience" class="nav__link">Experiences</a>
            <a href="#hire" class="nav__link">Hire</a>
            <a href="#contact" class="nav__link">Contact</a>
            

        </span>

        <span class="menu">
            <i class='bx bx-menu' onclick="openNav()"></i>
        </span>

    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script>
        $(document).ready(()=>{
            AOS.init()
        })
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
